body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
    margin:40px;
}
.main {
    background-color: #FFF;
    width: 1000px;
    height:750px;
    margin:0 auto;
    padding:20px;
}
.title {
    color: #000;
    text-align:center;
    font-size:18px;
    font-weight:bold;

}

.text{

    padding-left:50px;
    padding-right:50px;
}

.login_form{
    padding-left: 250px;
    text-align: center;
    padding: 10px;
}

.login_div{
    width:500px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding:20px;
}

.footer{
    color:#cccccc;
    height: 50px;
    text-align: center;
    margin: 60px;
}

.content{
    height: 520px;
    margin-top: -10px;
}
